<header>
	<a href="/" class="docTitle">RecuEngine</a>
</header>

<main>
    <div class="loginchild">
        <form id="signInUpForm" class="loginchild__form" action="/ingresar" method="POST">
            <h3>Iniciar sesión</h3>
            <div class="inputSignIn__Wrapper">
                <input required id="email" type="email" name="email" placeholder="Correo electrónico" autocomplete="off" maxlength="255" autofocus>
                <input required type="password" name="pass" placeholder="Contraseña" autocomplete="off" minlength="4">
            </div>
            <div class="signin__btns">
                <div class="authBtns center mb">
                    <a href="/registrarse" id="createaccount">¿Aún no tienes una cuenta?</a>
                </div>
                <div class="button" id="signInUpBtn">Ingresar</div>
            </div>
        </form>
    </div>

    <div class="background">
        <svg viewBox="0 0 960 960">
            <g>
                <g transform="translate(564 113)"><path d="M0 -131.2L113.6 -65.6L113.6 65.6L0 131.2L-113.6 65.6L-113.6 -65.6Z" stroke="#24ee71" fill="none" stroke-width="3"></path></g>
                <g transform="translate(120 360)"><path d="M0 -83L71.9 -41.5L71.9 41.5L0 83L-71.9 41.5L-71.9 -41.5Z" stroke="#24ee71" fill="none" stroke-width="3"></path></g>
                <g transform="translate(51 646)"><path d="M0 -97L84 -48.5L84 48.5L0 97L-84 48.5L-84 -48.5Z" stroke="#24ee71" fill="none" stroke-width="3"></path></g>
                <g transform="translate(887 507)"><path d="M0 -108L93.5 -54L93.5 54L0 108L-93.5 54L-93.5 -54Z" stroke="#24ee71" fill="none" stroke-width="3"></path></g>
                <g transform="translate(518 716)"><path d="M0 -107L92.7 -53.5L92.7 53.5L0 107L-92.7 53.5L-92.7 -53.5Z" stroke="#24ee71" fill="none" stroke-width="3"></path></g>
                <g transform="translate(949 20)"><path d="M0 -118L102.2 -59L102.2 59L0 118L-102.2 59L-102.2 -59Z" stroke="#24ee71" fill="none" stroke-width="3"></path></g>
                <g transform="translate(269 140)"><path d="M0 -121L104.8 -60.5L104.8 60.5L0 121L-104.8 60.5L-104.8 -60.5Z" stroke="#24ee71" fill="none" stroke-width="3"></path></g>
                <g transform="translate(546 449)"><path d="M0 -80L69.3 -40L69.3 40L0 80L-69.3 40L-69.3 -40Z" stroke="#24ee71" fill="none" stroke-width="3"></path></g>
                <g transform="translate(824 926)"><path d="M0 -27L23.4 -13.5L23.4 13.5L0 27L-23.4 13.5L-23.4 -13.5Z" stroke="#24ee71" fill="none" stroke-width="3"></path></g>
                <g transform="translate(65 942)"><path d="M0 -74L64.1 -37L64.1 37L0 74L-64.1 37L-64.1 -37Z" stroke="#24ee71" fill="none" stroke-width="3"></path></g>
                <g transform="translate(809 252)"><path d="M0 -28L24.2 -14L24.2 14L0 28L-24.2 14L-24.2 -14Z" stroke="#24ee71" fill="none" stroke-width="3"></path></g>
                <g transform="translate(345 945)"><path d="M0 -110L95.3 -55L95.3 55L0 110L-95.3 55L-95.3 -55Z" stroke="#24ee71" fill="none" stroke-width="3"></path></g>
                <g transform="translate(304 561)"><path d="M0 -24L20.8 -12L20.8 12L0 24L-20.8 12L-20.8 -12Z" stroke="#24ee71" fill="none" stroke-width="3"></path></g>
                <g transform="translate(24 9)"><path d="M0 -60L52 -30L52 30L0 60L-52 30L-52 -30Z" stroke="#24ee71" fill="none" stroke-width="3"></path></g>
            </g>
        </svg>
    </div>
</main>

{{> footer}}