<header class="index">
	<span class="docTitle">RecuEngine</span>
	<a href="/ingresar">
		<span>Ingresar/Registrarse</span>
	</a>
</header>

<main>
	<h1 class="title">Recu<span>Engine</span></h1>
</main>

{{> footer}}